p {
   // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
}

p.blurb {
   // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

span.title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20pt;
    color: #fff;
}

span.welcome {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    position:absolute;
    //margin-left:auto;
    right:20px;
}

div.header {
    padding: 10px;
    width:100%;
//    background-color:#bbf;
    background-image:url("kampala.png");
    height:276px;
    margin-bottom: 10px;
}

h1 {
    font-size: 15pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


h2 {
    font-size: 14pt;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0;
    padding: 0;
}

img.tile {
  width:  auto;
  height: 600px;
  left: 540px;
//  top: 100px; 	
  position: absolute;
  
}

div.formdata {
 position:relative;
 left:10px;
 width:500px;
}

span.fixed {
   font-family: "Courier New", Courier, monospace;  
}

div#map-canvas {
  width: 520px;
  height: 420px;
  background-color: #CCC;
}

div.user_form {
  margin-left:50px;
  margin-top:20px;
  width:50%;
  left:25%;
}

p.user_form_desc {
  margin-top:30px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
?>
